.page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  color: white;
  background: #2A2C2F;
  font-family: 'Inter', 'Arial', serif;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}