.body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  color: white;
  background: #2A2C2F;
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-links {
  display: flex;
  list-style: none;
  align-items: flex-end;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.header__lang-link {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header__lang-link_no-underline {
  text-decoration-line: none;
}

.main {
  margin-top: 56px;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 148px;
  max-width: 984px;
}

.lead__title {
  margin: 0;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}

.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.lead__image {
  padding-top: 64px;
  max-width: 100%;
}

.lead__caption {
  margin: 0;
  padding-top: 8px;
  align-self: flex-start;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  margin: 92px auto 0 148px;
  max-width: 690px;
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  padding-top: 40px;
  max-width: 690px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 33px 0 0;
  max-width: 690px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.intro__list-number {
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }

  .header {
    margin: 16px 16px 0;
  }

  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link_no-underline {
    text-decoration-line: none;
  }

  .main {
    margin-top: 48px;
  }

  .lead {
    max-width: 320px;
    margin: 0;
  }

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }

  .lead__image {
    padding-top: 40px;
    max-width: 100%;
  }
}