.lead__title {
  margin: 0;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}

@media screen and (max-width: 785px) {
  .lead__title {
    font-size: 88px;
  }
}

@media screen and (max-width: 676px) {
  .lead__title {
    font-size: 75px;
  }
}

@media screen and (max-width: 541px) {
  .lead__title {
    font-size: 68px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}