.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 541px) {
  .lead__subtitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 474px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }
}