.place__url-heading {
  margin: 0;
  max-width: 456px;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    max-width: 352px;
  }
}

@media screen and (max-width: 474px) {
  .place__url-heading {
    max-width: 288px;
  }
}